{% extends 'base.html.twig' %}

{% block title %}Iniciar Sesion
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/system.css')}}"/>
{% endblock %}

{% block body %}

    <div class="container" style="margin-top:140px; ">
        <div class="row">
         <div class="col-lg-4"></div>
            <div class="card col-lg-4"><br>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal text-center">Iniciar Sesion</h1>
                    <label class="sr-only" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Correo Electronico" required autofocus><br>
                    <label class="sr-only" for="inputPassword">Password</label>
                    <input class="form-control" id="inputPassword" name="password" placeholder="Contraseña" required type="password"><br>

                    <input
                    type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#
                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                            See https://symfony.com/doc/current/security/remember_me.html
                    
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                        #}
                        <div class="text-center">
                    <button class="btn btn-outline-primary btn-lg btn-block" type="submit">
                        Ingresar
                    </button>
                    </div>
                </form>
                <br>
            </div>
            
        </div>
    </div>
{% endblock %}