{% extends 'base.html.twig' %}

{% block title %}New Registro1{% endblock %}

{% block body %}
    <h1>Create new Registro1</h1>

    {{ include('registro1/_form.html.twig') }}

    <a href="{{ path('registro1_index') }}">back to list</a>
{% endblock %}
